* { 
	font-family: Helvetica, 'Times New Romans', sans-serif;
	 box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer {
	background-color: #F4F4F4;
	
}
nav ul li {
	width: 5rem;
}
ul li {
	list-style-type: none;
}
nav ul a {
	text-decoration: none;
	color: ##373737;
}
.container {
	background-color: #C0B283;
	color: #373737;
}
.card {
	background-color: #373737;
	color: #F4F4F4;
	max-width: 300px;
	border-radius: 5px;
	box-shadow: 6px 5px 9px 1px grey;
}
.card-img-top {
	height: 225px; 
	width: 100%;
	display: block;
	border-radius: 5px;
}
#book-page-image {
	height: 50vh;
	width: 20vw;
}
.btn {
    background-color: #F4F4F4;
    border-radius: 5px;
    color: black;
    padding: 2px;
    border: none;
}
.btn:hover {
	background-color: dodgerblue;
	color: white;
}
